@import url("react-responsive-modal/styles.css");
@import url("react-tooltip/dist/react-tooltip.css");

@tailwind base;
@tailwind components;
@tailwind utilities;

@import url("styles/terms.css");

/* disable number input arrows */
/* Chrome, Safari, Edge, Opera */
input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
  -webkit-appearance: none;
  margin: 0;
}

/* Firefox */
input[type="number"] {
  -moz-appearance: textfield;
}

:root {
  --font-titillium-web: "Titillium Web", sans-serif;
}

body {
  font-family: var(--font-titillium-web);
}

:root {
  --primary: #f35c1e;
  --primary-50: #fffcfc;
  --primary-100: #fef5f1;
  --primary-200: #fde8e0;
  --primary-300: #fcd6c7;
  --primary-400: #fabfa8;
  --primary-500: #f8a382;
  --primary-600: #f68254;
  --primary-700: #f35c20;
  --primary-800: #d9460c;
  --primary-900: #a93609;
  --primary-950: #782808;
  --neutral-1: #121721;
  --neutral-2: #f9fafc;
  --neutral-3: #f5f5f7;
  --neutral-4: #ebecf0;
  --neutral-5: #d5d8e0;
  --neutral-6: #989eb2;
  --neutral-7: #70778c;
  --neutral-8: #313a52;
  --neutral-9: #272d40;
  --neutral-10: #1d2230;
  --neutral-11: #121721;
  --secondary-50: #fffefb;
  --secondary-100: #fefaf0;
  --secondary-200: #fef3de;
  --secondary-300: #fdeac4;
  --secondary-400: #fcdea3;
  --secondary-500: #facf7a;
  --secondary-600: #f8be4a;
  --secondary-700: #f6ab13;
  --secondary-800: #8d6005;
  --secondary-900: #483103;
  --secondary-950: #312102;
  --danger: #f23030;
}

:root,
[data-theme="dark"] {
  --primary: #f35c1e;
  --primary-foreground: #fff;
  --text: #fff;
  --caption: #70778c;
  --bg: #121721;
  --card-bg: #1d2230;
  --header-bg: #121721;
  --header-border: #1d2230;
  --footer-bg: #121721;
  --footer-border: #1d2230;
  --border: #313a52;
  --modal-bg: #272d40;
  --tab-list-border: var(--neutral-9);
  --tab-bg-active: var(--neutral-11);
  --tab-text-active: var(--primary);
  --tab-border-active: var(--primary);
  --input-bg: var(--neutral-11);
  --input-border: var(--neutral-9);
}

[data-theme="light"] {
  --primary: #f35c1e;
  --primary-foreground: #fff;
  --text: #121721;
  --caption: #70778c;
  --bg: #ebecf0;
  --card-bg: #fff;
  --header-bg: #ffffff;
  --header-border: #ebecf0;
  --footer-bg: #ffffff;
  --footer-border: #ebecf0;
  --border: #d5d8e0;
  --modal-bg: #fff;
  --tab-list-border: var(--neutral-4);
  --tab-bg-active: var(--primary-100);
  --tab-text-active: var(--primary);
  --tab-border-active: var(--primary);
  --input-bg: #fff;
  --input-border: var(--neutral-5);
}

body {
  background-color: var(--bg);
  color: var(--text);
}
